Date:29 January,2022
Day-1

### *Remember:*
1) *To execute your code you can press **(shift+enter)** together .*
2) *To add new cells press **(esc+a)** .*
3) *To get description of a function press **(shift+tab)** .*
4) *To write variable name without typing, simply type first few alphabets of the variable name and press **(tab)** .List of all declared variable starting with those alphabets will appear. Select the one you wish to work with .*

## MARKDOWN

This is an *example* to show what mardown is. To use mardown select Markdown from the cell type.

Following are few ways of coustimizing our mardown:

* '#'are used to bold our text in Mardown. More the no. of '#', less is the boldness and size of the text .
* '*' is used to add built points .
* 1 astrik gives text in italics .
* 2 astriks gives text in bold .

## 1) COMMENTS 

* To add single line comment use #
* To add multiple line comment use ''' before and after the para

In [48]:
a = 10

'''
This is an example of multi line comment
We can add as many lines as we wish too
Here only print(a) will be executed.
Everything else is for user's understanding
'''
print(a)   ## Printing using print function (example of single line comment)

In [16]:
a ## Another way of displaying value of 'a' without using print function

10

## 2) NUMBERS

In [21]:
1+3 #Notice there is cell no. on left hand side of the output

4

In [46]:
print (1+3) #Notice there is NO cell no. on left hand side of the output.
           #It is acting as an output consol.

4

In [45]:
a=5 #Notice there is NO cell no. on left hand side of the output.
print (a)

5

#### PRINT( IN-BUILT FUNCTION)

In [44]:
#In-built print function

print ("hello World")

hello World

In [42]:
print ("hello World I am manpreet") #In-built print function and new line

hello World I am manpreet

In [70]:
# \n

print ("hello World \nI am manpreet") #\n is used for moving to a new line while using print()

hello World
I am manpreet

In [113]:
print("yyayy") #This is a string "yyayy" being print as it is.

print(R) #This is a code line telling to print the value of R and not a string R.
         #Here it will show error as no Variable R exist
    
R = 12
print(R) #This will print value

#Remember to make sure of what you are printing. A value stored in a variable or a string.

yyayy

#### VARIABLE ASSIGNING

In [37]:
name = "Manpreet Kaur"
Age = "22"

In [38]:
name #value inside the variable is given as output

'Manpreet Kaur'

In [39]:
Age #value inside the variable is given as output

'22'

In [40]:
name = "Sanchit Kothari" #overwriting the value of this variable
                       #Earlier it was Manpreet Kaur

In [49]:
name #Checking if it overwriting has taken place or not?
     #Memory is replaced

'Sanchit Kothari'

In [50]:
Age = 21 #Replacing memory

In [51]:
Age ##Checking if it overwriting has taken place or not?
     #Memory is replaced

21

#### TYPE (IN-BUILT FUNCTION)

In [67]:
#In-built type function

type ("") #this tells us that anything inside " " is considered as an string

str

"" and '' has same usage in Pyhton

In [57]:
type (name)

str

In [56]:
type (Age)

int

In [60]:
type ("hello")

str

In [68]:
#assiging a decimal no.

decimal_num = 100.56 
type (decimal_num) #Type for decimal is float

float

In [69]:
#assigning a complex no.

complex_num = 1+300j 
type (complex_num) #Type complex also exists.

complex

#### NAMING A VARIABLE

In [73]:
#don't start a varibale name numbers

'''
example 
-> 3num = 4
-> 11a = 100
'''

'\nexample \n-> 3num = 4\n-> 11a = 100\n'

In [76]:
#Variable names are case sensitive

company = "ABC"
Company = "XYZ"
print(company)
print(Company)

ABC
XYZ

In [77]:
#Variable names should not be named after RESERVED keywords like int, float, len, complex,bool, str, yield

## 3) BOOLEAN

True, False, not, and, or are all case sensitive.
Correct ways are: True, False, not, and, or

In [87]:
True

True

In [88]:
False

False

In [90]:
not True #not

False

In [91]:
not False #not

True

In [92]:
True and False #Use of and

False

In [93]:
True or False #Use of or

True

In [97]:
type (not False) #Type BOOL is also there

bool

In [98]:
type (True)

bool

#### TYPECASTING- Conversion from one type to another

In [99]:
## Converting a number into boolean value 

bool(0) #0 is false

False

In [100]:
bool(1) #1 is true

True

In [104]:
print(bool(100)) #bool of any number other than 0 is true
print(bool(-1) )

True
True

In [109]:
a=1

if bool(a)==True:
   print("TRUE")

TRUE

In [117]:
## Converting a number into string

str(23) #conversion into string

'23'

In [120]:
## COnverting a float into int

print(int(1.756))
print(int(.756))

1
0

In [118]:
## Converting a string into number 

int('23')

23

## 4) DYNAMIC TYPING

This basically means that by default the variable declared is considered as integers until and unless a value of some other datatype is assigned.
Example <- ' a= ' till here the system inferes a as of integer type but as soon as the value is assigned ' a="krish" 'the system now inferes ' a ' as of string type.

## 5) CONCATENATION B/W TYPES

This for + operation takes place b/w same type of data.
For * operation different types of data can be used keeping one of them as integer as it can not multiply a sequence of non-int datatypes.

In [127]:
1+1 #integers

2

In [128]:
"1" + "1" #strings

'11'

In [129]:
int("1") + int("1") #typecasting and concatenation

2

In [ ]:
"1" + int("1") #error because of different data types

In [124]:
1 * 100 #integers

100

In [125]:
"1" * 100 #differnt data types used one of them being int and we see 1 i repeated 100 times.

'1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111'

In [ ]:
"1" * "1" #Will show errors as both are non-int datatypes.